<div class="container">
      <div class="fluid_container">
          <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="/images/slides/thumbs/img1.jpg" data-src="/images/slides/img1.jpg">
                </div>
                <div data-thumb="/images/slides/thumbs/img2.jpg" data-src="/images/slides/img2.jpg">
                </div>
               <div data-thumb="/images/slides/thumbs/img3.jpg" data-src="/images/slides/img3.jpg">
                </div>
              </div><!-- #camera_wrap_4 -->
      </div>
    </div>
      <script>
 jQuery(function(){

   jQuery('#camera_wrap_4').camera({
             transPeriod: 500,
             time: 1000,
     height: '620',
     loader: 'false',
     pagination: false,
     thumbnails: false,
     hover: false,
             playPause: false,
             navigation: false,
     opacityOnGrid: false,
     imagePath: '/images/'
   });

 });

</script>
