<div class="modal-body container col-md-3" style="z-index:1;margin-left: 350px;margin-top: 200px;">
  <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#signIn" data-toggle="tab">Login</a></li>
      <li><a href="#signUp" data-toggle="tab">Sign Up</a></li>
    </ul>
    <div id="tabbedContent" class="tab-content">
      <div class="tab-pane active in" id="signIn">
          <% include signIn %>
      </div>
      <div class="tab-pane" id="signUp">
<% include signUp %>
      </div>
    </div>
  </div>
</div>
