<form class="form-horizontal" action='/user/signUp' method="post">
  <fieldset>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="username" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password1">Password</label>
      <div class="controls">
        <input type="text" id="password" name="password" placeholder="password" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password2">Confirm Password</label>
      <div class="controls">
        <input type="password" id="password2" name="password" placeholder="confirm password" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="email" class="input-xlarge">
      </div>
    </div>

<br/>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </fieldset>
</form>
