<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="favicon" href="/images/favicon.png">
  	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/css/bootstrap-theme.css" media="screen">
  	<link rel="stylesheet" href="/css/style.css">
      <link rel='stylesheet' id='camera-css'  href='/css/camera.css' type='text/css' media='all'>
  <script src="/js/modernizr-latest.js"></script>
  	<script type='text/javascript' src='/js/jquery.min.js'></script>
      <script type='text/javascript' src='/js/fancybox/jquery.fancybox.pack.js'></script>

      <script type='text/javascript' src='/js/jquery.mobile.customized.min.js'></script>
      <script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>
      <script type='text/javascript' src='/js/camera.min.js'></script>
      <script src="/js/bootstrap.min.js"></script>
  	<script src="/js/custom.js"></script>
</head>
<body>
<% include partials/modalBody %>
<% include partials/background %>
</body>
</html>
